* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #2EC4B6;
}

body {
  background: linear-gradient(180deg, var(--bg-color), #9EB1E9);
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  gap: 5vw;
}

#userName {
  background-color: #353f7b;
  border-radius: 20px;
  box-sizing: border-box;
  min-height: 50px;
  height: max-content;
  padding: 15px 10px;
  width: 120px;
  word-break: break-all;
  color: #eee;
  text-align: center;
  font-size: 14px;
  flex-shrink: 0;
}

.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#text_message {
  height: 50px;
  max-height: 110px;
  height: auto;
  flex: 1;
  border: 3px solid rgb(53, 63, 123);
  background-color: #b8c5eb;
  color: #4b4949;
  border-radius: 10px;
  outline: none;
  padding: 12px;
  overflow-y: hidden; /* Скрываем скролл по умолчанию */
  resize: none; /* Отключаем изменение размера */
}

/* Показываем скролл только при переполнении и фокусе */
#text_message:is(:focus) {
  overflow-y: auto;
}

/* Стилизация скроллбара (опционально) */
#text_message::-webkit-scrollbar {
  width: 6px;
}

#text_message::-webkit-scrollbar-thumb {
  background:linear-gradient(180deg, var(--bg-color), #9EB1E9);
  border-radius: 3px;
}

#text_message::-webkit-scrollbar-track {
  background: transparent;
}

.button {
  height: 30px;
  width: 100px;
  background-color: rgb(94, 126, 178);
  border-radius: 10px;
  color: aliceblue;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  flex-shrink: 0;
}

#chat_window {
  flex: 1;
  border: 3px solid rgb(53, 63, 123);
  background-color: #b8c5eb;
  border-radius: 10px;
  margin-top: 15px;
  overflow-y: auto;
}

#chat_window::-webkit-scrollbar {
  width: 7px;
}

#chat_window::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

#chat_window::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background:linear-gradient(180deg, var(--bg-color), #9EB1E9);
}

#chat_messages {
  display: flex;
  flex-flow: column wrap;
}

.messages {
  border-radius: 10px;
  background-color: #5e7eb2;
  padding: 10px;
  margin: 10px;
  align-self: flex-end;
  color: aliceblue;
  max-width: 500px;
  word-break: break-all;
}



/*Адаптивная верстка: */

@media (max-width: 1023px) {
  .container {
    flex-direction: column;
    gap: 0;
  }
  
  #userName {
    margin-bottom: 15px;
    width: 120px;
  }
  
  .chat {
    width: 100%;
    height: calc(100% - 70px);
  }
}

@media (max-width: 767px) {
  .header {
    flex-wrap: wrap;
  }
  
  #text_message {
    width: 100%;
  }
  
  .button {
    width: 80px;
  }
}

@media (max-width: 479px) {
  #text_message {
    max-height: 70px;
  }
  
  .button {
    width: 60px;
  }
}
